.root{
    -fx-background-image: url("bckg3.jpeg");

    -fx-background-size: cover,auto;
}

#contentPane{
    -fx-background-image: url("bckg3.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover,auto;
}

#outMsg{
    -fx-background-color: rgba(11, 222, 22, 0.75);
    -fx-text-fill: #fff;
}
#inMsg{
    -fx-background-color: #2a9605;
    -fx-text-fill: #fff;
}

.TextField{
    -fx-border-color: #c97929;
}